@font-face {
    font-family: 'lyon';
    src: url('fonts/Lyon\ Regular.ttf') format('woff');
    font-weight: normal; /* for the regular font */
    font-style: normal; /* for the regular font */
}

@font-face {
    font-family: 'kievit';
    src: url('fonts/kievit_regular.ttf') format('woff');
    font-weight: normal; /* for the regular font */
    font-style: normal; /* for the regular font */
}
@font-face {
    font-family: 'kievit';
    src: url('fonts/Kievit\ Black\ Italic.ttf') format('woff');
    font-weight: normal; /* for the regular font */
    font-style: italic; /* for the regular font */
}
@font-face {
    font-family: 'kievit';
    src: url('fonts/Kievit\ Bold.ttf') format('woff');
    font-weight: bold; /* for the regular font */
    font-style: normal; /* for the regular font */
}
@font-face {
    font-family: 'kievit';
    src: url('fonts/Kievit\ Bold\ Italic.ttf') format('woff');
    font-weight: bold; /* for the regular font */
    font-style: italic; /* for the regular font */
}
@font-face {
    font-family: 'kievit';
    src: url('fonts/Kievit\ Medium.ttf') format('woff');
    font-weight: 500; /* for the regular font */
    font-style: normal; /* for the regular font */
}
@font-face {
    font-family: 'kievit';
    src: url('fonts/Kievit\ Medium\ Italic.ttf') format('woff');
    font-weight: 500; /* for the regular font */
    font-style: italic; /* for the regular font */
}
@font-face {
    font-family: 'kievit-book';
    src: url('fonts/Kievit\ Book.ttf') format('woff');
    font-weight: normal; /* for the regular font */
    font-style: normal; /* for the regular font */
}
@font-face {
    font-family: 'kievit-book';
    src: url('fonts/Kievit\ Book\ Italic.ttf') format('woff');
    font-weight: normal; /* for the regular font */
    font-style: italic; /* for the regular font */
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button > img {
    width: 100%;
}

:root {
    height: 100%;
    width: 100%;
    font-family: 'kievit', sans-serif;
    --green-light: #e3ede5;
    --green-light2: #ccd5ce;
    --green-dark: #024c11;
    --green: #036016;
    --yellow: #E9D985;
    --black: #000000;
    --white: #FFF;
    --gray: #313131; 
    --gray-light: 	#D3D3D3; 
}

body {
    display: grid;
    grid-template-columns: 80px 1fr;
    height: 100%;
    width: 100%;
}

.font-fancy {
    font-family: "lyon", sans-serif;
}

.font-11 {
    font-size: 10px;
}

.font-gray {
    color: var(--gray);
}

.green-font {
    color: var(--green);
}

.yellow-font {
    color:var(--yellow);
}

.font-32 {
    font-size: 32px;
}

.border-top {
    border-top: 1px solid gray;
}

.filter-green {
    filter: invert(21%) sepia(46%) saturate(2312%) hue-rotate(108deg) brightness(102%) contrast(98%);
}

.sidebar {
    display: grid;
    overflow: auto;
    background-color: var(--green);
    color: var(--white);
    font-size: smaller;
}

.sidebar > a:first-child {
    margin-bottom: 15px;
}

.sidebar > a {
    color: var(--white);
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;
    transition: background-color 0.1s ease-in;
}

.sidebar > .selected-tab {
    background-color: var(--white);
    color: var(--green);
}

.sidebar > a:not(:first-child):not(.selected-tab):hover {
    background-color: var(--green-dark);
}

.selected-tab > .side-icon {
    filter: invert(21%) sepia(46%) saturate(2312%) hue-rotate(108deg) brightness(102%) contrast(98%);
}

.side-icon {
    width: 60%;
    filter: invert(100%);
}

#broccoli {
    width: 80%;
    filter: invert(0);
}

.main {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 20px;
    overflow: auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 260px;
    gap: 40px;
}

.tasks {
    padding: 15px;
}

.todo, .feedback {
    margin-bottom: 20px;
}

.todo > ul, .feedback > ul {
    padding-top: 8px;
    margin-top: 8px;
}

.middle {
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.header-left {
    flex: 1;
    font-size: 48px;
}

.header-right {
    display: flex;
    align-items: center;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 40px;
    padding-bottom: 20px;
}

.articles > div {
    height: 250px;
}

.header-right > .bttn-dots {
    height: 40px;
    width: 40px;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
}

#dots-icon {
    transform: rotate(90deg);
    width: 80%;
    height: 80%;
}

.header-right > .bttn-dots:hover {
    background-color: var(--green-light);
}

#bttn-grades {
    width: 100%;
    height: 40px;
    background-color: var(--green-light);
    border-radius: 3px;
    border: 1px solid var(--green-light2);
    font-size: 18px;
    transition: background-color 50ms ease-in;
    color: var(--gray);
}

#bttn-grades:hover {
    background-color: var(--green-light2);
}

.title {
    text-align: center;
    font-size: 36px;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.footer-left {
    display: grid;
}

.footer-left > span {
    margin-top: -10px;
    padding: 2px;
}

.footer-right {
    width: 500px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 10px;
}

.footer-right > a {
    color: var(--gray);
}

/* Course boxes */
.course {
    display: grid;
    grid-template-rows: 4fr 2fr 1fr;
    position: relative;
    border-radius: 5px;
    box-shadow:
    2px 0 2px var(--gray-light), /* Right shadow */
   -2px 0 2px var(--gray-light), /* Left shadow */
    0 2px 2px var(--gray-light); /* Bottom shadow */
}

.course:hover {
    box-shadow:
    4px 0 4px var(--gray-light), /* Right shadow */
   -4px 0 4px var(--gray-light), /* Left shadow */
    0 4px 4px var(--gray-light); /* Bottom shadow */
}

.course-bttn {
    width: 30px;
}

.course-bttn-dots {
    position: absolute;
    width: 40px;
    right: 10px;
    top: 10px
}

.course-bttn-dots > img {
    transform: rotate(90deg);
    filter: invert(100%);
}

.course-info {
    padding-left: 8px;
}

.course-title {

}

.course-subtitle {

}

.course-semester {

}

.course-bttns {
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
    }
    .footer {
        flex-flow: column;
    }
    .footer-right {
        align-self: flex-end;
    }
    .title {
        display: none;
    }
    .articles {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
    .footer-right {
        flex-flow: column;
        align-items: end;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .articles {
        grid-template-columns: 1fr;
        padding-right: 0px;
    }
}